{% extends "base/static/base_login.html" %}
<!--
{-% load staticfiles %}
-->
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div class="form-box" id="login-box">

        <div class="header">
            <a href="{% url 'usuario:index' %}">
                <img src="{% static 'img/banner.png' %}"/>
            </a>
        </div>

        <!--div class="center-block">
            {% if error %}
                <div class="alert alert-danger" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>Error! </strong>{{ message }}
                </div>
            {% endif %}
        </div-->

        <form id="login_form" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="body bg-gray">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                                <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                </span>
                            <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Nombre de Usuario" autocomplete="off" />
                            <span class="error">{{form.usuario.errors}}</span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="Aqu&iacute; su Contrase&ntilde;a" autocomplete="off" />
                            <span class="error">{{form.password.errors}}</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">Ingresar</button>
                <p><a href="{% url 'usuario:dashboard' %}">Dashboard</a></p>
                <p><a href="{% url 'usuario:menu' %}">Menu</a></p>
            </div>
        </form>



        <div class="margin text-center">
            <span><script>document.write(new Date().getFullYear())</script> &copy; Sistema de Parqueo y Estacionamiento Tahuamanu</span>
        </div>

    </div>
{% endblock content %}
{% block jssextras %}
   <script type="text/javascript">
   $(function () {
       {% if error %}
           toastr["error"]("{{ message }}", "Aviso del Sistema")
       {% endif %}
       },)
    </script>

   <!--script type="text/javascript">
        jQuery(document).ready(function() {
            $("#usuario").focus();
            $("#login_form").validate({
                rules:{
                    usuario: {
                        required: true
                    },
                    clave: {
                        required: true
                    }
                },
                messages:{
                    usuario:{
                        required: "El nombre de usuario es requerido!"
                    },
                    clave:{
                        required: "La Contrase&ntilde;a es requerida!"
                    }
                },
                submitHandler: function(form) {
                    $.ajax({
                      type: "POST",
                      url: $("#login_form").attr("action"),
                      data: $("#login_form").serialize(),
                      dataType: "json",
                      success: function(datax){
                        if(datax.estado=="success"){
                            window.location.replace("/archivo/_principal/index");
                        }else{
                            toastr[datax.estado](datax.mensaje,'Aviso del Sistema');
                        }
                      }
                    }).done(function( msg ) {

                    }).fail(function( jqXHR, textStatus ) {
                        toastr.error("Fallo por error desconocido!!",'Aviso del Sistema');
                    });
                }
            });

        });
    </script-->
{% endblock jssextras %}