<!DOCTYPE html>
<html lang="es-BO">

<head>
    <meta charset="utf-8">
    <!--link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema de Parqueo y Estacionamiento Tahuamanu">
    <meta name="author" content="Ajerhy Inc">
    {% block css %}
    {% endblock css %}

    {% block csssextras %}
    {% endblock csssextras %}
</head>

<body class="bg-black">

{% block content %}

{% endblock content %}

{% block js %}

{% endblock js %}

{% block jssextras %}

{% endblock jssextras %}

{% block control_modal %}

{% endblock control_modal %}

</body>

</html>