<!DOCTYPE html>
<html lang="es-BO">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema de Parqueo y Estacionamiento Tahuamanu">
    <meta name="author" content="Ajerhy Inc">
    {% block css %}
    {% endblock css %}

    {% block csssextras %}
    {% endblock csssextras %}
</head>

<body class="skin-blue">

{% block content %}

{% endblock content %}

{% block js %}

{% endblock js %}

{% block jssextras %}

{% endblock jssextras %}

</body>

</html>