<footer class="box-footer">
    <div class="container">

    </div>
</footer>

<footer>
    <div class="footer">
        <div class="container-fluid"  id="myfooter">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright">
                        <strong>Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            -Todos los derechos reservados <a href="#" target="_blank">Ajerhy Inc</a>.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>