
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sistema Seecorp</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <section>
                <hr>
                    		
	 <div class="head">
	      <div class="row">
				<div class="col-md-12">
				<ol class="breadcrumb ">
				  <li class="breadcrumb-item active animated fadeInLeft">Aplicacion de Login</li>
				</ol>
					<section class="header animated fadeInDown">
					  <h1>Login</h1>
					</section>
					<div class="main">
						<div class="form-group">
							<form action="index.php" method="post">
								<section class="	">
								<div class="input-group margin-bottom-sm input">
								  <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
								  <input name="nombre" class="form-control" type="text" placeholder="Nombre  Usuario" required="">
								</div><br>
									<div class="input-group">
									  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
									  <input name="password" class="form-control" type="password" placeholder="Password" required="">
									</div><br>
							<div class="alert alert-danger">Error al ingresar</div>									<input  type="submit" name="submit" class="btn btn-outline-primary btn-block">								</section>
							</form>
						</div>
					</div>
				</div>
			</div>
</div>

            </section>

        </div>
    </div>

</div>

    <script src="views/bootstrap/js/app.js"></script>
    <script src="views/bootstrap/js/validarUsuario.js"></script>
    <script src="views/bootstrap/js/claseMenu.js"></script>
<footer>
    
</footer>
