{% extends "base/static/base_dashboard.html" %}

<!--
{-% load staticfiles %}
-->
{% load static %}

{% block content %}
    <!-- End Barra Header -->
    {% include "base/header.html" %}
    <!-- End Barra Header -->

    <div class="wrapper row-offcanvas row-offcanvas-left">

        <!-- End Barra Aside -->
        {% include "base/aside.html" %}
        <!-- End Barra Aside -->

        <!-- Right side column. Contains the navbar and content of the page -->
        <div class="modal fade" id="divNuevo" tabindex="-1" role="dialog" aria-hidden="true" data-width="400"></div>
        <div class="modal fade" id="divEditar" tabindex="-1" role="dialog" aria-hidden="true" data-width="400"></div>
        <div class="modal fade" id="divCPass" tabindex="-1" role="dialog" aria-hidden="true" data-width="400"></div>
        <div class="modal fade" id="divNuevoTipo" tabindex="-1" role="dialog" aria-hidden="true" data-width="400"></div>
        <div class="modal fade" id="divNuevoAutor" tabindex="-1" role="dialog" aria-hidden="true"
             data-width="400"></div>
        <div class="modal fade" id="divNuevoLugar" tabindex="-1" role="dialog" aria-hidden="true"
             data-width="400"></div>
        <div class="modal fade" id="divNuevoti" tabindex="-1" role="dialog" aria-hidden="true" data-width="400"></div>

        <aside class="right-side" id="right-side">
            {% block contenido %}   {% endblock contenido %}
        </aside>
    </div>
{% endblock content %}